<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/header') %>

    <% } else { %>
        <%- include('./partials/headerLogeado') %>
    <% } %>

    <main>
        <section class="center main-content registrar editar">
            <h1 class="titles" >Nuevo post</h1><form action="" method="get">
                <div class="registro"> <label for="name"> ID : </label> <input type="text" name="user" value=""> </div>
                
                <div class="registro">
                <form  action="/user/buscador" method="post"  target="_blank" enctype="multipart/form-data">
                    <p>
                      Subir achivo : 
                      
                      <input type="file" name="archivosubido">
                      <input type="submit" value="Enviar datos">
                    </p>
                  </form> 
                </div>

                 <div class="registro"> <label for="password">Pie del post : </label>  <input type="text" name="password" value="" placeholder="Ingrese el pie del post"> </div>
                 <button type="submit" class="button"> <a href="/user/profile"> Subir post </a></button> 
     
             </form> </section>
    </main>

    <%- include('./partials/footer') %>  

</body>

</html>