<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogeado') %>

    <% } else { %>
        <%- include('./partials/header') %>
    <% } %> 

    <main>
        <section class="center main-content registrar editar">
        <h1 class="titles" >Editar mi perfil</h1><form action="" method="post">
            <div class="registro"> <label for="name"> Nuevo nombre: </label> <input type="text" name="user" value=""> </div>
 
            <div class="registro"> <label for="user">Nuevo nombre de usuario: </label>  <input type="text" name="username" value="" placeholder="Ingrese su nuevo nombre de usuario"> </div>
 
             <div class="registro"> <label for="password">Nueva contrase単a: </label>  <input type="text" name="password" value="" placeholder="Ingrese su nueva contrase単a"> </div>
 
             <div class="registro"><label for="password">Repetir contrase単a: </label>  <input type="text" name="password" value="" placeholder="Ingrese su contrase単a nuevamente"> </div>
             <button type="submit" class="button"> <a href="/user/miPerfil"> Enviar datos editados </a></button> 
 
         </form> </section>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>