<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/header.ejs') %> 

    <main>
        <section class="center main-content">
        <h1 class="titles" >Login</h1>
        <form action="" method="get">
           <div> <label for="user"> Nombre de usuario: </label> <input type="text" name="username" id=""></div>
           <div> <label for="user"> Contraseña: </label> <input type="text" name="password" id=""></div>
        </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>