<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>  

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/header') %>

    <% } else { %>
        <%- include('./partials/headerLogeado') %>
    <% } %>

    <main>
        <section class="center main-content login">
        <h1 class="titles" >Login</h1>
        <form action="" method="get">
           <div class="registro"> <label for="user"> Email: </label> <input type="text" name="username" id="" class="inputLogin"></div>
           <div class="registro"> <label for="user"> Contraseña: </label> <input type="password" name="password" id="" ></div>
         
           <div class="input-container ic1">
            <input id="recordarme" class="recordarme" type="checkbox" name="rememberme" />
            <label class="recordarmeLabel" for="Recordarme">recordarme</label>
        </div>
            <button type="submit" class="button"> <a href="/user/profile">Login </a></button> 
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>