<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>  

<body>
    <%- include('./partials/header') %> 

    <main>
        <section class="center main-content login">
        <h1 class="titles" >Login</h1>
        <form action="" method="get">
           <div class="registro"> <label for="user"> Nombre de usuario: </label> <input type="text" name="username" id="" class="inputLogin"></div>
           <div class="registro"> <label for="user"> Contraseña: </label> <input type="text" name="password" id="" ></div>
            <button type="submit" class="button"> <a href="/user/profile">Login </a></button> 
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>