<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The UdesSA Network</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./public/stylesheets/index.css">
</head>

<body>
    <%- include('../partials/header.ejs') %> 

    <main>
        <section class="center main-content">
        <h1>Login</h1>
        <p>Crear el formulario para ingresar al sitio.</p>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>