<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/header.ejs') %> 

    <main>
        <section class="center main-content">
        <h1 class="titles" >Login</h1>
        <p class="textoRegular" >Crear el formulario para ingresar al sitio.</p>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>