<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/header.ejs') %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="https://via.placeholder.com/100x100" alt="">
                <div class="info-usuario">
                    <p class="textoRegular" >Nombre de usuario</p> 
                    <a class="follow" href="editarPerfil.html"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li class="textoRegular" >100 post</li>
                        <li class="textoRegular" >200 seguidores</li>
                        <li class="textoRegular" >300 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <article class="post">
                    <a href="detallePost.html">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="detallePost.html">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="detallePost.html">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="detallePost.html">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="detallePost.html">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="detallePost.html">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="detallePost.html">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="detallePost.html">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
            </section>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>