<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/header') %>

    <% } else { %>
        <%- include('./partials/headerLogeado') %>
    <% } %>
    
    <main>
        <div class="user-detail container">
        
            <section class="top main-content">
                <img class="profile" src=" " alt="" height="100px" width="100px" >
                <div class="info-usuario">
                    <p class="textoRegular" > </p> 
                    <a class="follow" href="/user/edit"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li class="textoRegular" > 2 post</li>
                        <li class="textoRegular" > 88 seguidores</li>
                        <li class="textoRegular" > 102 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <% for( let i = 0; i < 2; i++ ) { %>
                    <article class="post">
                        <a href="/posteos/postdetail/id/">
                            <img src= "" alt="">
                        </a>
                    </article>
                    <% } %>
              
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>