<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/header.ejs') %> 

    <main>
        <section class="center main-content">
        <h1 class="titles" >Regsitrate</h1>
        <p class="textoRegular" >Crear el formulario para registrar un nuevo usuario.</p>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

    <form action="" method="get">
        <input type="text" name="user" value="">
    </form>

</body>

</html>