<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main class="contenedor-form">

                <section class="center main-content registrar">
                    <h1 class="titles">Registrate</h1>
                    <form action="" method="get">
                        <div class="registro"> <label for="name"> Nombre: </label> <input type="text" name="user"
                                value=""> </div>

                        <div class="registro"> <label for="user">Nombre de usuario: </label> <input type="text"
                                name="username" value="" placeholder="Ingrese su nombre de usuario"> </div>

                        <div class="registro"> <label for="password">Contrase単a: </label> <input type="password"
                                name="password" value="" placeholder="Ingrese su contrase単a"> </div>

                        <div class="registro"><label for="password">Repetir contrase単a: </label> <input type="password"
                                name="password" value="" placeholder="Ingrese su contrase単a nuevamente"> </div>
                        <div class="registro"> <label for="start">Dia de nacimiento :</label>

                            <input type="date" id="start" name="trip-start" value="0000-00-00" min="2003-01-03"
                                max="2022-9-31">
                        </div>
                        <button type="submit" class="button"> <a href="/user/profile"> Enviar </a></button>

                    </form>
                </section>
            </main>

            <%- include('./partials/footer') %>



    </body>

</html>