<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %>  

    <main>
        <section class="center main-content">
        <h1 class="titles" >Regsitrate</h1>
        <form action="" method="get">
           <div> <label class="registro"> Nombre: </label> <input type="text" name="user" value=""> </div>

           <div> <label class="registro"> Raza: </label> <input type="text" name="breed" value=""></div>

           <div> <label class="registro">Fecha de nacimiento: </label>  <input type="date" name="birthday" value=""></div>

           <div> <label class="registro" for="user">Nombre de usuario: </label>  <input type="text" name="username" value="" placeholder="Ingrese su nuevo nombre de usuario"> </div>

            <div> <label class="registro" for="password">Contrase単a: </label>  <input type="text" name="password" value="" placeholder="Ingrese su nueva contrase単a"> </div>

            <div><label class="registro" for="password">Repetir contrase単a: </label>  <input type="text" name="password" value="" placeholder="Ingrese su contrase単a nuevamente"> </div>

        </form>
        </section>
    </main>

    <%- include('./partials/footer') %> 

    

</body>

</html>