<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>  

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/header') %>

    <% } else { %>
        <%- include('./partials/headerLogeado') %>
    <% } %>

    <main>
        <section class="center main-content">
        <h1 class="titles" >Resultados de búsqueda.</h1>
        <p class="textoRegular" >Construir la vista.</p>
        </section>
    </main>
    <%- include('./partials/footer') %> 

</body>

</html>