<header class="main-header">
    <nav class="main-nav">

        <div class="navbar-left">
            <h2 class="logo"><a href="/"  class="petSociety">PetSociety</a></h2>
            <img src="" alt="">
            <% if (locals.Usuario != undefined) { %>
             <a>Bienvenido, <%= locals.Usuario.nombreUsuario  %> </a>
             <a href="/user/login/<%= locals.Usuario.id %>">
             <img src="/images/posteos/ <%= locals.Usuario.fotoPerfil %> " alt="<%= locals.Usuario.nombreUsuario %>" style="width:50px;"></a>
            <% } %>
        </div>

        <div class="navbar-center">
            <form method="get" action="/resultados" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="search-input" placeholder="Buscar..." name="mascota">
            </form>
        </div>

        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/user/register" class="navBar">Registro</a></li>
                <li><a href="/user/login" class="navBar" >Login</a></li>
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="/posteos/agregarPost"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a href="/user/profile"><i class="fa-regular fa-user"></i></a></li>
                <li><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
            </ul>
        </div>

    </nav>
</header>