<header class="main-header">
    <nav class="main-nav">

        <div class="navbar-left">
            <h2 class="logo"><a href="/"  class="petSociety">PetSociety</a></h2>
            <img src="" alt="">
            <% if (locals.user != undefined) { %>
             <a>Bienvenido, <%= locals.user.nombreUsuario  %> </a>
             <a href="/user/login/<%= locals.user.id %>"> </a>
            <% } %>
        </div>

        <div class="navbar-center">
            <form method="get" action="/resultadoBusqueda" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="search-input" placeholder="Buscar por caption" name="mascota">
            </form>
        </div>

        <div class="navbar-center">
            <form method="get" action="/resultadoBusquedaEmail" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="search-input" placeholder="Buscar por nombre de usuario" name="usuario">
            </form>
        </div>

        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="/posteos/agregarPost"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a href="/user/miPerfil"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="/user/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>
        </div>

    </nav>
</header>